@keyframes fade-in{
  from { opacity: 0; }
  to   { opacity: 1; }
}

.imdb_element {
color:#fff;
line-height:1.3;
position:relative;
font:'Netflix Sans';
display:"inline-block";
text-shadow:0 1px 1px rgba(0,0,0,.7);
animation-name: fade-in;
animation-duration: 1.5s}

.rt_element {
color:#fff;
line-height:1.3;
position:relative;
font:'Netflix Sans';
display:"inline-block";
text-shadow:0 1px 1px rgba(0,0,0,.7);
animation-name: fade-in;
animation-duration: 1.5s}

.separator{
color:#646464;
position:relative;
font:'Netflix Sans';
display:"inline-block";
animation-name: fade-in;
animation-duration: 1.5s;
top: 2px;
font-size: 1.2em;
margin-left: 6px;
margin-right: 6px;
}

@media screen and (max-width:499px){.rt_element.old_version, .imdb_element.old_version{font-size:1.8vw}}
@media screen and (min-width:500px) and (max-width:799px){.rt_element.old_version, .imdb_element.old_version{font-size:1.4vw}}
@media screen and (min-width:800px) and (max-width:1099px){.rt_element.old_version, .imdb_element.old_version{font-size:1.8vw}}
@media screen and (min-width:1100px) and (max-width:1399px){.rt_element.old_version, .imdb_element.old_version{font-size: 0.92vw}}
@media screen and (min-width:1400px){.rt_element.old_version, .imdb_element.old_version{font-size:.76vw}}

.video-meta--bob-overview{
text-shadow:0 1px 1px rgba(0,0,0,.7) !important;
font-size:.7vw !important}

.donate_element{
color:#fff;
margin-left: 12px;
line-height:1.3;
position:relative;
font:'Netflix Sans';
font-size: 70%;
display:"inline-block";
text-shadow:0 1px 1px rgba(0,0,0,.7);
animation-name: fade-in;
animation-duration: 1.5s;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
overflow: hidden;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: color, background-color;
transition-property: color, background-color;
-webkit-box-shadow: 0 0 1px;
box-shadow: 0 0 1px;
background-color: transparent;
border-style: solid;
border-width: 1px;
border-radius: 8px;
text-align: center;
width: 60px !important;
max-width: 60px !important;
height: 10px !important;
max-height: 20px !important;
min-height: 20px !important;
}

.donate_element:hover{
background-color: #E5BD12;
color: white;
cursor: pointer;
}

.more_info_content{
  color: #c5c5c5;
  font-size: 70%;
  margin-bottom: 6px;
}

.more_info{
  margin-right: 6px;
  margin-left: 12px;
  margin-bottom: 6px;
  top: -1px !important;
  animation-name: fade-in;
  animation-duration: 1.5s;
  top: 2px;
  font-size: 0.8em;
  border-radius: 50%;
  border-width: 2px;
  color:rgb(255, 255, 255);
  border: 2px solid;
  background-color: rgba(42,42,42,.6);
  border-color: rgba(255,255,255,.5);
  width: 25px !important;
  height: 25px !important;
  min-width: 20px !important;
  min-height: 20px !important;
  position: relative;
}

.more_info:hover{
  background-color: rgba(197, 197, 197, 0.6);
}